@charset "UTF-8";

html{height:100%; }
p{ font-size:12pt; color:black; margin:0px;}
p1{ font-size:10pt; color:black;}
p2{font-size:15pt; color:black;}
p3{font-size:12pt; color:red;}
p4{font-size:40px;color:black}
h1 { font-size:20pt; font-weight:bold; color:black;}
body { font-size:13pt; color:black;} 
pre {
  padding: 0em;
  width: auto;
  _width: 90%;
  height: auto;
  overflow: auto;
  _overflow: scroll;
  color: #000;
  font-family: 'MS Gothic', monospace;
  margin:0px
}
tr { margin:5px;}
th { padding:5px; color:white; background:darkgray; }
td { padding:5px; color:black; }
#site{max-width:60%;
  margin: 0 auto; height:100%;}
#a{height:}
#b{float: left; width:70%; font-size:15px;}
#e{float: right; width:20%; text-align:left;}
#c{clear: both; }
#d{clear: both; padding:0; 
    margin:0;  width:100%; 
  bottom: 0; height:auto; _height}
#title{font-side:30;}
hr{margin:0px;width:auto;_width:100%}
#f{float:right;}
header#sample {
　position:fixed;
}
